* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.underline {
  width: 460px;
  height: 100px;
  padding-bottom: 40px;
  margin: 100px auto;
  border-bottom: 1px solid #ccc;
  ul li {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    background: cornflowerblue;
    border-radius: 50%;
    transition: background .5s linear 0s;
    a {
      display: block;
      height: 100px;
    }
    i {
      font-style: normal;
      position: absolute;
      bottom: -41px;
      left: 35px;
      width: 30px;
      border-bottom: 1px solid #fff;
    }
    i:before, i:after {
      content: "";
      position: absolute;
      bottom: -1px;
      width: 15px;
      height: 10px;
      border-bottom: 1px solid #ccc;
      transition: all .2s linear 0s;
    }
    i:before {
      left: 0;
      transform-origin: 0% 100%;
    }
    i:after {
      right: 0;
      transform-origin: right bottom;
    }
  }
  ul li:first-child {
    margin-left: 0;
  }
  ul li:hover {
    background: darkgreen;
    i:before {
      width: 22px;
      transform: rotate(-45deg);
    }
    i:after {
      width: 22px;
      transform: rotate(45deg);
    }
  }
}